.container {
  background-color: #9ec4e6;
  min-height: 100vh;
}

.padding {
  padding-top: 200px;
}

.img {
  padding-top: 160px;
  padding-left: 100px;
}

.btnLight {
  color: #9ec4e6 !important;
  background-color: whitesmoke;
}