.navbarBackground {
    background-color: #9ec4e6;
}

.navtext {
    color: whitesmoke !important;
}

.navbrand {
    color: whitesmoke !important;
    font-size: 20px;
    font-weight: bold;
}

.invButton {
    background-color: transparent;
    border: none;
}

.invButton:hover {
    background-color: transparent;
}

.invButton:focus {
    background-color: transparent;
    box-shadow: none;
}