.container {
    background-color: #9ec4e6;
    min-height: 100vh;
}

.padding {
    padding-top: 200px;
}

.img {
    padding-top: 160px !important;
    padding-left: 100px;
}

.btnLight {
    color: #9ec4e6 !important;
    background-color: whitesmoke;
    border: whitesmoke;
}

.btnLight:hover {
    color: white !important;
    background-color: #8ab3d6;
}

.btnLight:focus {
    color: #9ec4e6 !important;
    background-color: whitesmoke;
    box-shadow: none;
}

.formControl {
    margin-bottom: 15px;
    background-color: transparent;
    border: transparent;
    border-bottom: #9ec4e6 2px solid;
}

.formControl:focus {
    margin-bottom: 15px;
    background-color: transparent;
    border: transparent;
    border-bottom: #9ec4e6 2px solid;
    box-shadow: none;
}

.width {
    width: 500px;
    min-width: 375px;
    margin-left: auto;
    margin-right: auto;
}

.formButton {
    background-color: #9ec4e6 !important;
    color: white !important;
    margin-top: 25px;
    border: none;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: 10px;
    background: whitesmoke;
    color: #000;
    text-align: center;
    font-size: 30px;
}

.workspaceName {
    padding: 20px;
    margin-left: 15px;
    font-size: 25px;
    width: 40%;
}

.launchButton {
    margin-top: 15px;
    padding: 10px;
    position: absolute;
    right: 10px;
    background-color: #9ec4e6;
    color: white;
}

.launchButton:hover {
    color: white !important;
    background-color: #8ab3d6;
}

.relative,
.relative2 {
    position: relative;
}

.relative2 {
    margin: 20px;
    margin-bottom: 40px;
}

.workspaceCard {
    margin-top: 10px;
    padding: 20px;
    border-radius: 15px;
}

.addWorkspace {
    margin-top: 10px;
    padding: 20px;
    border-radius: 15px;
    height: 150px;
    align-items: center;
    width: 100%;
    background-color: white;
    border: none;
    color: #9ec4e6;
    outline: 3px dashed #9ec4e6;
    outline-offset: -20px;
}

.addWorkspaceText {
    text-align: center;
    font-size: 22px;
}

.addWorkspace:hover {
    background-color: white;
    color: #9ec4e6;
}

.addWorkspace:focus {
    background-color: white;
    color: #9ec4e6;
    box-shadow: none;
    border: none;
}

.endButtons {
    position: absolute;
    right: 15px;
    padding-top: 20px;
}

.accept {
    background-color: #9ec4e6;
    color: white;
    border: none;
}
.accept:hover {
    background-color: #9ec4e6;
}
.accept:focus {
    background-color: #9ec4e6;
    box-shadow: none;
}

.decline {
    background-color: lightgray;
    color: white;
    border: none;
}
.decline:hover {
    background-color: lightgray;
}
.decline:focus {
    background-color: lightgray;
    box-shadow: none;
}

.link {
    color: white;
    text-decoration: none;
}

.buttonAction {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.search {
    display: flex;
    justify-content: center;
}

.modelSize {
    max-height: 80vh;
    overflow-y: auto;
}

.searchInput {
    padding: 10px;
    border-radius: 5px;
    width: 400px;
    border: 3px solid #9ec4e6;
}

.invite {
    background-color: #9ec4e6;
    color: white;
}

.invite:hover {
    background-color: #8ab3d6;
    color: white;
}

.invite:focus {
    background-color: #9ec4e6;
    box-shadow: none;
}

.remove {
    background-color: lightcoral;
    color: white;
}

.remove:hover {
    background-color: rgb(235, 108, 108);
    color: white;
}

.remove:focus {
    background-color: lightcoral;
    box-shadow: none;
}
