.sideNav {
    flex-direction: column;
    width: 325px;
    background-color: #9ec4e6;
    height: 95vh;
    color: white;
    padding-left: 30px;
}

.navLink {
    color: white !important;
}

.navBrand {
    color: white !important;
    font-size: 20px;
    font-weight: bold;
}

.relative {
    position: relative;
    height: 95vh;
}

.msgContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

.msgBox {
    width: 100%;
}
